@model AllOrdersQueryModel

@{ ViewData["Title"] = "All Orders";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Total Price
            </th>
            <th>
                Client Name
            </th>
            <th>
                Client Email
            </th>
            <th>
                Client Phone Number
            </th>
            <th>
                Client Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TotalPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientPhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientAddress)
    </td>
    <td>
        @Html.ActionLink("Info", "Info", new { id=item.Id }) |
        @Html.ActionLink("Complete", "Complete", new { id = item.Id })
    </td>
</tr>}
    </tbody>
</table>
