@model CartProductsQueryModel

<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
    <div scope="col" width="260" class="d-flex flex-row">
        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductId">
            <img src="@Model.ProductImageUrl" width="50" height="50">
        </a>
        <div class="ml-2">
            <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductId">
                @Model.ProductName
            </a>
        </div>
    </div>
    <div class="d-block ml-5 font-weight-bold">
        <input asp-for="Price" id="price" readonly class="form-control-plaintext" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="d-flex flex-row align-items-center">
        <select asp-for="Size" class="form-control col-md-1 align-items-center">
            <option>S</option>
            <option>M</option>
            <option>L</option>
        </select>
        <span asp-validation-for="Size" class="text-danger"></span>
        <div class="d-block ml-5 font-weight-bold">
            <a asp-controller="Cart" 
               asp-action="Edit" 
               asp-route-id="@Model.Id" 
               asp-route-quantity="@(Model.Quantity - 1)" 
               class="btn btn-outline-secondary btn-sm @(Model.Quantity == 1 ? "disabled" : "" )" >-</a>
            <input asp-for="Quantity" id="quantity" readonly class="form-control"/>
            <a asp-controller="Cart" 
               asp-action="Edit"
               asp-route-id="@Model.Id"
               asp-route-quantity="@(Model.Quantity + 1)" 
               class="btn btn-outline-secondary btn-sm">+</a>
        </div>
        <div class="d-block ml-5 font-weight-bold">
            <input asp-for="ProductTotalPrice" id="totalPrice" readonly class="form-control" />
            <span asp-validation-for="ProductTotalPrice" class="text-danger"></span>
        </div>
        <div>
            <a asp-controller="Cart" asp-action="Delete" asp-route-id="@Model.Id" id="delete-btn" onclick="preventDoubleClick()" class="btn btn-danger">X</a>
        </div>
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function preventDoubleClick() {
        var btn = document.getElementById("delete-btn");

        btn.disabled = true;
    }
</script>